@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes desaparecer {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.aparecer{
    animation: aparecer 0.5s ease-in-out forwards;
}

.desaparecer{
    animation: desaparecer 0.5s ease-in-out forwards;
}
.aparecer_rapido{
    animation: aparecer 0.2s forwards;
}
.desaparecer_rapido{
    animation: desaparecer 0.2s forwards;
}

*{
    padding: 0;
    margin: 0;
}
body {
    background-color: #fae3e3 ;
    color: #0A3871;
    height: 100vh;

}
.logo{
    margin-top: 1%;
}
.landing{
    display: flex;
    margin: 2% 10%;
    justify-content: space-between;
    font-size: 16px;
    height: 100%;


}
.insercion{

    box-sizing: border-box;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    border: 2px solid #0A3871 ;
    width: 69.4444444444%;
    height: 80%;
    background-color:#fae3e3;
    margin: 1%;


}
.insercion__area {
    width: 100%;
    height: 90%;



}
.insercion__texto{
    background-color: #fae3e3;
    color: #0A3871;
    width: 98%;
    height: 90%;
    border: none;
    border-radius: 18px;
    font-size: 2rem;
    font-family: "Abel", sans-serif;
    font-style: normal;
    resize: none;
    padding: 1%
}
.oculto{
    position: absolute;
    left: -9999px;
}
.insercion__disclaimer{
    margin: 0.125rem;
    display: flex;
    justify-content: start;
    font-size: 0.75rem;
}
.insercion__botones{
    width: 100%;
    font-family: "Abel", sans-serif;
    display: flex;
    align-items: flex-start;
    font-size: 1rem;
    font-style: normal;
}
.botonen{
    background-color: #c1edcc;
    color: #0a3871;
    width: 2050%;
    padding: 24px 0;
    border-radius: 24px;
    margin: 0.3125rem;
}
.botondesen{
    background-color: #548687;
    color: #0A3871;
    width: 2050%;
    height: 67px;
    padding: 24px 0;
    border-radius: 24px;
    margin: 0.3125rem;
}
.resultado{
    box-sizing: border-box;
    background-color:#c1edcc;
    border-radius: 1.125rem;
    border: #0a3871;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #0A3871 ;
    width: 30.555555555555%;
    height:84.375%;
    font-family: "Abel", sans-serif;
    font-style: normal;

}
.resultado__image{
    width: 25%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 2%;
}
.resultado__Procesado{
    background-color: #fae3e3;
    color: #0A3871;
    width: 96%;
    height: 100%;
    border: none;
    border-radius: 18px;
    font-size: 2rem;
    font-family: "Abel", sans-serif;
    font-style: normal;
    resize: none;
    padding: 2%;
    margin-bottom: 45%;
    display:none;
}
.resultado__h2{
    text-align: center;
    font-size: 1.5rem;
    align-content: end;
}
.resultado__p{
    text-align: center;
    font-size: 1rem;
}
.resultado__botonCopiar{
    height: 10%;
    width: 80%;
    border-radius: 24px;
    color: #0A3871;
    background-color: #548687;
    font-family: var(--fuente-Inter);
    font-weight: 400;
    font-size: 1rem;
    position: relative;
    margin-top: 5%;
    z-index: auto;
    visibility: hidden;
    transition: opacity 0.3s, filter 0.1s ease-in-out, background-color var(--transicion-botones) ease-in-out , box-shadow var(--transicion-botones) ease-in-out;

}
@media (max-width: 768px) {
    .landing{
        flex-direction: column;
        100%
    }
    .insercion{
        width: 100%;
        height: 79.81260647359455%;
    }
    .insercion__area {
        height: 92.84951974386339%;

    }

    .resultado{
        width: 100%;
        height: auto;
    }
    .resultado__image{
        width: 22%;
        height: auto;
        border-radius: 2.4rem;
        margin-bottom: 1%;
        margin-left: 1%;
        margin-top: 1%;
    }
    .resultado__Procesado{
        background-color: #fae3e3;
        color: #0A3871;
        width: 96.5%;
        height: 100%;
        border: none;
        border-radius: 18px;
        font-size: 2rem;
        font-family: "Abel", sans-serif;
        font-style: normal;
        resize: none;
        padding: 1%;
        margin: 0.2rem;
        display:none;
    }
    .resultado__botonCopiar{
        height: 3.60rem;
        width: 100%;
    }
}
@media (max-width: 375px) {
    .landing{
        flex-direction: column;
        align-content: flex-start;
    }
    .insercion{
        width: 100%;
        height: 68.91747052518757%;
        margin: 0%;
    }
    .insercion__area {
        height:40.625rem;
    }
    .insercion__botones{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    .botonen{
        height: 4.1875rem;
        width: 98%;
        margin: 1%;
        border-radius: 24px;
        margin: 0.3125rem;
    }
    .botondesen{
        width: 98%;
        height: 4.1875rem;
        margin: 1%;
        border-radius: 24px;
        margin: 0.3125rem;
    }
    .resultado{
        box-sizing: border-box;
        background-color:#c1edcc;
        border-radius: 1.125rem;
        border: #0a3871;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 2px solid #0A3871 ;
        width: 100%;
        height:auto;
        font-family: "Abel", sans-serif;
        font-style: normal;
    
    }
    .resultado__image{
        width: 25%;
        height: 80%;
        border-radius: 15px;
        margin-bottom: 2%;
    }
    .resultado__Procesado{
        width: 96.5%;
        height: 100%;
        border-radius:1.125rem;
        font-size: 2rem;
        font-family: "Abel", sans-serif;
        font-style: normal;
        resize: none;
        padding: 1%;
        margin: 0.2rem;
        display:none;
    }
}
